{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} Pokedex {% endblock %}</h1>
    </span>
    <div class="content">
        <a href="{{ url_for('pokedex.editor') }}"><button>Editor</button></a>
    </div>

    <div class="content">
        <div>
            <select id="comboGames" class="games"></select>
        </div>

        <div>
            <select id="comboGamePokedexes" class="games"></select>
        </div>
        <hr>
        <div>
            <select class="pokemon" size="16"></select>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/pokedex.js') }}"></script>
{% endblock %}
