{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} Pokedex {% endblock %}</h1>
    </span>
    <div class="content">
        <a href="{{ url_for('pokedex.editor') }}"><button>Editor</button></a>
    </div>

    <div class="content">
        <div>
            <select id="comboGames" class="games">
            {% for game in games %}
            <option>{{ game.name }}</option>
            {% endfor %}
        </select>
        </div>

        <div>
            <select id="comboGamePokedexes" class="games">
            {% for game_pokedex in game_pokedexes %}
                <option>{{ game_pokedex.name }}</option>
            {% endfor %}
        </select>
        </div>
        <hr>
        <div>
            <select class="pokemon" size="16">
            {% for pokemon in pokemon_data %}
                <option>{{ pokemon.id }} {{ pokemon.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/pokedex.js') }}"></script>
{% endblock %}
